[
  {rabbit, [
      {default_user, <<"user">>},
      {default_pass,
        {encrypted,
         <<"PXTrkkfudxnLAH5FtNPtAqcBXQ7AjRe4Yh46VsmV+gGoGgpusoXCN9yGidFH/81pJieYFInxec44vUbYkwteDw==">>
        }
      },
      {config_entry_decoder, [
             {passphrase, <<"myfirstrabbitmq">>}
         ]}
    ]}
].